{% extends "gourl/base.html" %}

{% load i18n %}

{% block content %}

<div class="container">
    <h2>{% trans "Registered Go URLs" %}</h2>

    <table class="table table-striped">
    {% for url in url_list %}
        <tr>
            <td><a href="{% url "gourl:redirect" url.name %}">{{url.name}}</a></td>
            <td><a href="{{url.url}}">{{url.url}}</a></td>
            <td><a href="{% url "gourl:remove" url.id %}">Remove</a></td>
        </tr>
    {% endfor %}
    </table>
<div>

{% endblock content %}
